body {
  margin: 0px;
}


.app {
  display: flex;
  flex-direction: column;
  

}


.conteiner{
  display: flex;
  justify-content: space-between;
 
}

.characters-list{
  display: flex;
  flex-wrap: wrap;
}